#RX
Receiver/MDK-ARM/DebugConfig/
Receiver/MDK-ARM/RX/
Receiver/MDK-ARM/*.uvoptx
Receiver/MDK-ARM/*.User
Receiver/MDK-ARM/*.scvd
Receiver/MDK-ARM/*.lst


#TX
Transmitter/MDK-ARM/DebugConfig/
Transmitter/MDK-ARM/TX/
Transmitter/MDK-ARM/*.uvoptx
Transmitter/MDK-ARM/*.User
Transmitter/MDK-ARM/*.scvd
Transmitter/MDK-ARM/*.lst

